
            <h2 class="section-title text-center">Nosotros</h2>
            <p class="lead main text-center"></p>
            <div class="row text-center story">
                
                    <div class="col-wrapper">
                       <i class="fa fa-thumbs-o-up fa-5x"></i>
                        <h3>Amistad</h3>
                        <p>Este restaurante fue creado por dos amigos chef, los cuales trabajaban  hace 5 años juntos en diversos hoteles de Santiago, un dia en una conversación informal se fue dando vida a un sueño laboral que consistía en formar  su propio establecimiento de comida.</p>
                    </div>
               
               
                    <div class="col-wrapper">
                         <i class="fa fa-cutlery fa-5x"></i> 
                        <h3>Fusión</h3>
                        <p>Fue así que hace casi 4 años atrás se dio inicio a tako Fusion un restaurante  pequeño  pero con la variedad de sabores que no se conocía en nuestra ciudad, la fusión Nikkei  consiste en la combinación de culturas (peruana-oriental)  desarrollándose por las primeras colonias japonesas llegadas a Perú,  estas colonias reemplazaban productos orientales por productos peruanos para realizar lo más cercano a su cultura gastronómica. </p>
                    </div>
               
              
                    <div class="col-wrapper">
                        <i class="fa fa-copyright fa-5x"></i> 
                        <h3>Objetivo</h3>
                        <p>Nuestro objetivo principal es dar a conocer conceptos nuevos  a los amantes de la buena comida, enseñar a sus comensales que con poco se puede hacer mucho, que quizás la comida puede evolucionar agregando  un par de ingredientes ajeno a su origen, para nosotros es importantísimo tener nuestro sello propio ante otros establecimientos los cuales se desarrollan en un mismo mercado, es así que en nuestro restaurante el abanico de sushi ofrecidos a nuestros clientes sea totalmente únicos en sabores, presentaciones dando así un sello que sea  reconocido por la gente que está dispuesta a salir de lo común.</p>
                    </div>
              
            </div>
 
