.CarritoCompra{
	padding: 30px;
	background-color: black;
	opacity: 0.9;
	-webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    color: white;

}
.CarritoCompra h3 {
	text-align: center;

}
.CarritoCompra button {

	float: right;

}

.Derecha{
	padding: 25px;
	/*background-color: black;*/
	opacity: 0.9;
	-webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;

}
.hola{
	/*background-color: black;*/
	margin-left: 10px;
	margin-right: 10px;
}
.piedepagina{
	background-color: black;
	color: white;
	padding: 40px
}
.centro{

	text-align: center;
}

@media screen and (min-width:768px){
    .navbar-brand-centered {
        position: absolute;
        left: 50%;
        display: block;
        width: 160px;
        text-align: center;
        background-color: #eee;
    }
    .navbar>.container .navbar-brand-centered, 
    .navbar>.container-fluid .navbar-brand-centered {
        margin-left: -80px;
    }
}

.color{
background-color: black !important;
color: white !important;
}