.CarritoCompra{
	padding: 20px;
	background-color: black;
	opacity: 0.9;
	-webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;

}
.CarritoCompra h3 {
	text-align: center;

}
.CarritoCompra button {

	float: right;

}

.Derecha{
	padding: 25px;
	background-color: black;
	opacity: 0.9;
	-webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;

}
.hola{
	background-color: black;
	margin-left: 10px;
	margin-right: 10px;


}